/common/
node_modules/
/coverage/
/packages/common/coverage/
/packages/icrc/coverage/
/packages/hpl/coverage/
/packages/common/dist/
/packages/icrc/dist/
/packages/hpl/dist/
/packages/common/package-lock.json
/packages/icrc/package-lock.json
/packages/hpl/package-lock.json
*swp
examples/console.app/.dfx/
examples/console.app/.mops/
examples/console.app/wallet-storage
